---
import ArrowCard from "@/components/arrow-card.astro";
import Container from "@/components/container.astro";
import Link from "@/components/link.astro";
import WorkTimeline from "@/components/work-timeline.astro";
import { HOME, SITE, SOCIALS } from "@/consts";
import PageLayout from "@/layouts/page-layout.astro";
import { getProjects, getWorks } from "@/lib/data-utils";
import GithubSvg from "@/svg/github-svg.astro";
import MailSvg from "@/svg/mail-svg.astro";
import XSvg from "@/svg/x-svg.astro";

const displayedProjects = (await getProjects()).slice(
  0,
  SITE.NUM_PROJECTS_ON_HOMEPAGE
);

const displayedWorks = (await getWorks()).slice(0, SITE.NUM_WORKS_ON_HOMEPAGE);
---

<PageLayout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <h4 class="slide-enter font-semibold text-black dark:text-white">
      Hi, I'm Zi Yang <span class="text-xl">👋🏻</span>
    </h4>
    <div class="space-y-16">
      <section>
        <article class="space-y-4">
          <p class="slide-enter">
            I am a Fullstack Web Developer living in
            <Link href="https://en.wikipedia.org/wiki/Suzhou" external>
              Suzhou, China,
            </Link>
            who focuses on building robust solutions and enjoys working with
            modern web technologies.
          </p>
          <p class="slide-enter">
            Previously, I received my master's degree in Information Technology
            from
            <Link href="https://www.uq.edu.au/" external>
              The University of Queensland,
            </Link>
            where I developed a strong foundation in software development and
            problem-solving.
          </p>
          <p class="slide-enter">
            Recently, I have been building a project named
            <Link href="https://github.com/yzy98/ext-stack" external>
              ExtStack.
            </Link>
            It's an extension-first monorepo for launching AI-ready browser
            extensions with a complete SaaS backend, shared APIs,
            authentication, billing, and usage tracking foundations.
          </p>
        </article>
      </section>

      <section class="slide-enter space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-black dark:text-white">
            Recent projects
          </h5>
          <Link href="/projects">See all projects</Link>
        </div>
        <ul class="flex flex-col gap-4">
          {displayedProjects.map(project => (
            <li>
              <ArrowCard entry={project} />
            </li>
          ))}
        </ul>
      </section>

      <section class="slide-enter space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-black dark:text-white">
            Work Experience
          </h5>
          <Link href="/work">See all work</Link>
        </div>
        <WorkTimeline entries={displayedWorks} />
      </section>

      <section class="slide-enter space-y-4">
        <h5 class="font-semibold text-black dark:text-white">Let's Connect</h5>
        <article>
          <p>
            If you want to get in touch with me about something or just to say
            hi, reach out on social media or send me an email.
          </p>
        </article>
        <ul class="flex flex-wrap gap-2">
          {SOCIALS.map(SOCIAL => (
            <li class="flex gap-x-2">
              <Link 
                external
                href={SOCIAL.HREF}
                label={`${SITE.NAME} on ${SOCIAL.NAME}`}
                underline={false}
                >
                {SOCIAL.NAME === "x" && <XSvg height={18} width={18} />}
                {SOCIAL.NAME === "github" && <GithubSvg height={18} width={18} />}
              </Link>
              |
            </li>
          ))}
          <li class="flex">
            <Link
              href={`mailto:${SITE.EMAIL}`}
              label={`Email ${SITE.NAME}`}
              underline={false}
            >
              <MailSvg height={18} width={18} />
            </Link>
          </li>
        </ul>
      </section>
    </div>
  </Container>
</PageLayout>
