---
import { render } from "astro:content";

import ArrowCard from "@/components/arrow-card.astro";
import Container from "@/components/container.astro";
import Link from "@/components/link.astro";
import WorkCard from "@/components/work-card.astro";
import { HOME, SITE, SOCIALS } from "@/consts";
import PageLayout from "@/layouts/page-layout.astro";
import { getBlogs, getProjects, getWorks } from "@/lib/data-utils";
import GithubSvg from "@/svg/github-svg.astro";
import MailSvg from "@/svg/mail-svg.astro";
import XSvg from "@/svg/x-svg.astro";

const displayedBlogs = (await getBlogs()).slice(0, SITE.NUM_POSTS_ON_HOMEPAGE);

const displayedProjects = (await getProjects()).slice(0, SITE.NUM_PROJECTS_ON_HOMEPAGE);

const displayedWorks = (await getWorks()).slice(0, SITE.NUM_WORKS_ON_HOMEPAGE);

const work = await Promise.all(
  displayedWorks.map(async (item) => {
    const { Content } = await render(item);
    return { ...item, Content };
  }),
);
---

<PageLayout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <h4 class="slide-enter font-semibold text-black dark:text-white">
      Hi, I'm Zi Yang <span class="text-xl">👋🏻</span>
    </h4>
    <div class="space-y-16">
      <section>
        <article class="space-y-4">
          <p class="slide-enter">
            I am a Web Developer living in
            <Link href="https://en.wikipedia.org/wiki/Suzhou" aria-label="Suzhou, China" external>
              Suzhou, China,
            </Link>
            who focuses on building robust solutions and enjoys working with modern web technologies.
          </p>
          <p class="slide-enter">
          Previously, I received my master's degree in Information Technology from
          <Link href="https://www.uq.edu.au/" aria-label="The University of Queensland" external>
            The University of Queensland,
          </Link>
          where I developed a strong foundation in software development and problem-solving.
          </p>
          <p class="slide-enter">
            Recently, I shipped a project named
            <Link href="https://ytbcc.zyang.xyz" aria-label="YouTube Comments Chat" external>
              YouTube Comments Chat.
            </Link>
            It's a Chrome extension that enhances your YouTube experience with powerful comment viewing features, customization options, and built-in AI translation capabilities.
          </p>
        </article>
      </section>

      <section class="slide-enter space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-black dark:text-white">
            Recent projects
          </h5>
          <Link href="/projects">
            See all projects
          </Link>
        </div>
        <ul class="flex flex-col gap-4">
          {displayedProjects.map(project => (
            <li>
              <ArrowCard entry={project} />
            </li>
          ))}
        </ul>
      </section>

      <section class="slide-enter space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-black dark:text-white">
            Work Experience
          </h5>
          <Link href="/work">
            See all work
          </Link>
        </div>
        <ul class="flex flex-col space-y-4">
          {work.map(entry => (
            <WorkCard entry={entry} slide={false} />
          ))}
        </ul>
      </section>

      <section class="slide-enter space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-black dark:text-white">
            Latest posts
          </h5>
          <Link href="/blog">
            See all posts
          </Link>
        </div>
        <ul class="flex flex-col gap-4">
          {displayedBlogs.map(post => (
            <li>
              <ArrowCard entry={post} />
            </li>
          ))}
        </ul>
      </section>

      <section class="slide-enter space-y-4">
        <h5 class="font-semibold text-black dark:text-white">
          Let's Connect
        </h5>
        <article>
          <p>
            If you want to get in touch with me about something or just to say hi,
            reach out on social media or send me an email.
          </p>
        </article>
        <ul class="flex flex-wrap gap-2">
          {SOCIALS.map(SOCIAL => (
            <li class="flex gap-x-2">
              <Link href={SOCIAL.HREF} external aria-label={`${SITE.NAME} on ${SOCIAL.NAME}`} underline={false}>
                {SOCIAL.NAME === "x" && <XSvg height={18} width={18} />}
                {SOCIAL.NAME === "github" && <GithubSvg height={18} width={18} />}
              </Link>
              |
            </li>
          ))}
          <li class="flex">
            <Link href={`mailto:${SITE.EMAIL}`} aria-label={`Email ${SITE.NAME}`} underline={false}>
              <MailSvg height={18} width={18} />
            </Link>
          </li>
        </ul>
      </section>
    </div>
  </Container>
</PageLayout>
